<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_All>
            <version>0.1.3</version>
        </Magestore_All>
    </modules>
    <frontend>
        <routers>
            <all>
                <use>standard</use>
                <args>
                    <module>Magestore_All</module>
                    <frontName>all</frontName>
                </args>
            </all>
        </routers>
        <layout>
            <updates>
                <all>
                    <file>all.xml</file>
                </all>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <all_setup>
                <setup>
                    <module>Magestore_All</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </all_setup>
            <all_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </all_write>
            <all_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </all_read>
        </resources>
        <blocks>
            <all>
                <class>Magestore_All_Block</class>
            </all>
        </blocks>
        <helpers>
            <all>
                <class>Magestore_All_Helper</class>
            </all>
        </helpers>
    </global>
</config>